<!DOCTYPE html>
<html>

 <head>
  <meta charset="UTF-8">
  <title>ВЫЧИСЛИТЕЛЬНАЯ ПРАКТИКА</title>
   <style>body { background: url(https://github.com/yellowcherry21/resBooking/blob/master/templates/Background.jpg); }</style>
   <script>
    function booking() {
     <p><output name="Results"></output></p>
    }
   </script>
 </head>

 <body>
  <H1>Resource booking</H1>
<div>
    <form action="" method="post">
        <p>StartDateTime:</p>
        <input type="datetime" name="StartDateTime" id="StartDateTime" value="" autofocus>
        <p>EndDateTime:</p>
        <input type="datetime" name="EndDateTime" id="EndDateTime" value="">
        <p><input type="submit" value="Send" onclick="booking()"></p>
        <p>Results: </p>
    </form>
</div>
 </body>

</html>
