<!DOCTYPE html>
<html>

 <head>
  <meta charset="UTF-8">
  <title>ВЫЧ ПРАКТИКА</title>
   <style>body { background: url(Background.jpg); }</style>
   <script>
     function booking () {
      
     }
   </script>
 </head>

 <body>
  <H1>Resource booking</H1>
<div>
  <form oninput="result.value=(StartDate.value)">
    <p>StartDateTime: </p>
    <input type="datetime" name="StartDate" autofocus></p>
    <p>EndDateTime: </p>
    <input type="datetime" name="EndDate" autofocus></p>
    <p><input type="button" value="Send" onclick="booking()"></p>
    <p>Results: </p>
  </form>
</div>
 </body>

</html>