<!DOCTYPE html>
<html>

 <head>
  <meta charset="UTF-8">
  <title>ВЫЧ ПРАКТИКА</title>
   <style>body { background: url(Background.jpg); }</style>
   <script>
     function booking () {
      
     }
   </script>
 </head>

 <body>
  <H1>Resource booking</H1>
<div>
    <form action="" method="post">
        <p>StartDateTime:</p>
        <input type="datetime" name="StartDateTime" id="StartDateTime" value="" autofocus>
        <p>EndDateTime:</p>
        <input type="datetime" name="EndDateTime" id="EndDateTime" value="">
        <p><input type="submit" value="Send" onclick="booking()"></p>
        <p>Results: </p>
    </form>
</div>
 </body>

</html>
