<!DOCTYPE HTML>
<html>
 <head>
  <meta charset="utf-8">
  <title>Reservation</title>
  <style type="text/css">
   th { font-family: Verdana, Helvetica; }
   body { background: url({{ url_for('static', filename='back.jpg') }}); }
  </style>
 </head>
 <body>
  <table border="1">
   <tr>
    <th>ID/Date</th>
    {% for i in DateList %}
      <td>{{i}}</td>
    {% endfor %}
   </tr>
    {% for i in ListID %}
      <tr>
       <td>{{i}}</td>
       {% for j in DateList %}
         {% if AvailableToday(i, j) %}
           <td>Free</td>
         {% else %}
           <td style="background: #CD5C5C">Busy</td>
         {% endif %}
       {% endfor %}
      </tr>
    {% endfor %}
  </table>
 </body>
</html>